/* Reset CSS */
* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

/* Aplicando CSS */
body {
    margin: 60px 150px 0 150px;
    background-color: rgb(11, 18, 26);
    font-family: 'Lora', serif;
    display: flex;
    flex-direction: column;
    min-height: 93vh;
    color: aliceblue;
    font-size: 1.2rem;
    box-sizing: border-box;
}

main {
    flex: 1;
    margin-top: 50px;
}

header {
    margin-bottom: 3rem;
}

.arte {
    color: rgb(156, 194, 203);
}

h1 {
    color: rgb(242, 242, 243);
    font-size: 5rem;
}

h2 {
    color: rgb(156, 194, 203);
    text-align: left;
    margin-bottom: 5px;
}

.logo {
    width: 100px;
}

header {
    font-size: 2rem;
}

.bloco {
    width: 45%;
}

.img-bloco {
    width: 400px;
    height: 300px;
    float: left;
    margin-right: 40px;
}

.esquerdo {
    float: left;
}

.direito {
    float: right;
}

footer {
    text-align: right;
    font-size: 15px;
    color: rgb(156, 194, 203);
}

/* Utilizando mediaQuery */
@media (max-width: 680px) {
    .logo {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }

    h1 {
        font-size: 4rem;
        text-align: center;
    }

    .bloco {
        width: 100%;
        display: block;
        margin-bottom: 100px;
        text-align: justify;
    }

    .img-bloco {
        margin-bottom: 10px;
        width: 100%;
        display: inline;
        object-fit: cover;
    }
}